/*              global styles          */
/* ul {list-style-type: none;} */
body {
    font-family: 'Overpass', sans-serif;
}



/*                 month               */

 .month {
 font-size: 50px;
 background-color:#00a896 ;
 text-align: center;
 color: azure;
 padding: 15px 0px;
  width: 100%; 
  height: 200px;
}


ul li {
  list-style: none;
}


.month .prev {
      float: left;
      padding-top: 50px; 
  }
  
 
.month .next {
    float: right;
    padding-top: 50px;
  } 

/*                weekdays                    */

.weekdays {
    background-color:#d3d3d3;
    height: 50px;
    word-spacing: 117px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.weekdays li { 
  display: inline;
  color:#555b6e ;

 
}


/*                    days                   */
.days{
    height: 310px;
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.days li{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size:18px;
    color: #777;
    line-height: 2cm;
}

.days li .active {
    padding: 25px;
    background: #1abc9c;
    color: white 
  }

